* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
   content: "";
   display: block;
   clear: both;
}
.box1 {
	display: none;
    background-color: #FF0000;
    height: 200px;
    width: 200px;
}
